*{
    box-sizing: border-box;
}
[class*="col-"]{
    float: left;
}
body {
    font-family: 'Poppins', sans-serif;  
    font-weight: bold;  
}
.nav {
  background-color:white;
  padding: 1px 5%;
  font-weight: bold; 
}
.nav > a:first-child {
  float: left;
}
.nav ul li {
  display: inline;
  padding: 10px;
  margin-right:30px;   
}
.nav ul li:last-child {
  border: 1px solid #2FA5A9;
  border-radius: 20px;
  padding:6px 13px;
}
.nav ul li:nth-last-child(2) {
  border: 1px solid #2FA5A9;
  border-radius: 20px;
  padding:6px 13px;
  background-color: #2FA5A9;
 
}
.nav ul li:nth-last-child(2) a {
  color: white;
}
.nav ul li a {
  color: #000000;
  text-decoration: none;
  text-align: center; 
}
.nav ul{
  margin: 0px; 
  padding:0px;
  float: left;
  padding-left:25%;
  padding-top: 2%;
}

.grad1 {
  height: 600px; 
  background: linear-gradient(180deg, rgba(7, 6, 71, 0.05) 0%, rgba(196, 196, 196, 0) 84.9%);
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background: linear-gradient(180deg, rgba(7, 6, 71, 0.05) 0%, rgba(196, 196, 196, 0) 84.9%);
}
.content > div{
  width: 600px;
  height: 650px;

}
.content > div > div {
  text-align: center;
}
.label_1 {
  padding-right:380px;
}
.label_2 {
  padding-right: 330px;
}
.label_3 {
  padding-right: 370px;
}
.label_4 {
  padding-right: 350px;
}
.paragraph {
    padding:0px;
    margin-top:13px;
    font-size: 24px;
}
.paragraph1 {
    padding:0px;
    margin-top:5px;
    font-size: 24px;
}
#first{
    width:33%;
    margin-right:30px;
}
#second{
    width:33%;
}
#third{
    width:18%;
    margin-right:13px;
}
#fourth{
    width:25%;
    margin-right:13px;
}
#fifth{
    width:23%;
    
}
#rad1 {
    width:30%;
    height:30%;
}
.sign_acc a, .create a {
  color: #000;
  text-decoration: none;
}


input[type=text], select {
    padding: 8px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #2FA5A9;
    border-radius: 6px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 20%;
    background-color:#2FA5A9;
    color: white;
    padding: 10px 15px;
    border: 1px solid #2FA5A9;
    border-radius: 12px;
    cursor: pointer;
    }
    input[type=password] {
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #2FA5A9;
    border-radius: 6px;
    box-sizing: border-box;
    }

    input[type=submit]:hover {
    background-color:hsl(0, 0%, 95%);
    color: #2FA5A9;
  
    }
    .direct {
        float: left;
        width:40%;
        margin-right:30px;
    }
    .direct2 {
        float:left
    }

    .box {
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px;

    }
    .User {
        width: 72%;
    }
    .signIn{
        font-size: 20px;   
    }
    .content > div > span {
        font-weight: normal;
        margin-left: 14%;  
    }
    .bottom {
        padding:10px;
        font-weight: normal;
        font-size:14px;
    }
    .recovery{
        padding-right:100px;
        font-size:14px;
        font-weight: normal;
        float:left;
        padding-left: 86px;
    }
    .create {
        font-size:14px;
        font-weight:normal;
        float:left
    }
    .recovery > a {
        text-decoration:none;
    }

    @media only screen and (min-width: 991px) and (max-width: 1416px) {
      .nav ul {
          float: none;
          margin-top:5px;
      }
    }
    @media only screen and (min-width: 991px) and (max-width: 1177px) {
      .nav ul li{
          margin-right: 15px;
          
      }
      .nav ul {
          margin-top: 10px;
      }
    }
    
    @media only screen and (min-width: 993px) {
      .nav ul{
          display: block;
      }
      .navbar-second {
          display: none;
      }
    }
    
    @media only screen and (max-width: 992px) {
        .nav ul{
            display: none;
        }
        .navbar-second {
            display: block;
            position: relative;
        }
        .dropdown {
          float:right;
      }
      .dropdown > span {
        color: #2FA5A9;
        padding: 4px;
        width: 40px;
        font-weight: bolder;
        border-radius: 5px;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top:-55px;
        text-align: center;
        border:1px solid  #2FA5A9;
      }
      .dropdown-content1{
          position: absolute;
          right: 0px;
          top:26px;
          display: none;
          width: 200px;
          height: 290px;
          z-index: 10000;
          padding: 10px 20px !important;
          background-color: #f2f2f2; 
          opacity: 0.9;
          margin-top:-25px;
          border-top: 1px solid #811eb8!important;
      }
      .dropdown-content1 a{
          display: block;
          margin-bottom: 10px;
          color: #333;
          font-family: sans-serif;
          padding: 10px;
          font-size: 15px;
          text-decoration: none;
      }
    }
  @media only screen and (max-width: 767px){
    .bottom {
      font-weight: normal;
      font-size:14px;
      padding: 10px;
    }

  }

  @media only screen and (min-width: 299px) and (max-width: 500px){
    
    input {
        padding:6px 8px !important;
    }
    .signIn{
        font-size: 18px;   
    }
    input[type=submit] {
        width:30%;
    }
    .content > div > span {
        font-weight: normal;
        margin-left: 0%;  
    }
    .recovery{
        margin-bottom:15px;
    }
    .create {
        margin-bottom: 20px;
    }
   
  }
  @media only screen and (max-width: 600px) {
    .content > div{
      width: 400px;
      height: 650px;
    
    }
    .label_1 {
      padding-right:245px;
    }
    .label_2 {
      padding-right: 200px;
    }
    .label_3 {
      padding-right: 240px;
    }
    .label_4 {
      padding-right: 210px;
    }
    input[type=submit] {
      width:40%;
    }
    .recovery{
      font-size:14px;
      font-weight: normal;
      float:none;
      padding-right: 170px;
      padding-left: 0px;
  }
  .create {
      font-size:14px;
      font-weight:normal;
      float:none;
      padding-right: 40px;
  }
  }
  @media only screen and (max-width: 400px)  {
    .content > div{
      width:100%;
      height: 650px;
    
    }
    .content {
      display: block;
    }
    .content > div {
      display: flex;
    }
    .label_1 {
      padding-right:61%;
    }
    .label_2 {
      padding-right: 48%;
    }
    .label_3 {
      padding-right: 60%;
    }
    .label_4 {
      padding-right: 54%;
    }
    input[type=submit] {
      width:40%;
    }
    .User {
      width: 74%;
  }
  .create {
    padding-right: 0px;
  }
  .recovery {
    padding-right: 0px;
  }
  }
  @media only screen and (min-width: 501px) and (max-width: 550px) {
    input[type=submit] {
        padding: 6px 8px;
    }
   
  }
  
  @media only screen and (max-width: 298px) {
    input {
        padding:5px !important;
    }
    .signIn{
        font-size: 15px;  
         margin-left: 10%; 
    }
    input[type=submit] {
        width:40%;
    }
    .content > div > span {
        font-weight: normal;
        margin-left: 0px;  
    }
    .recovery{
        margin-bottom:10px;
    }
    .create {
        margin-bottom: 20px;
    }
  }

/* For Appointment Booked */
.booked_appointment {
    padding-top:6%;
    padding-bottom: 3%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    border: 2px solid whitesmoke;
    width: 30%;
    padding: 6rem 3rem;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 4rem;
    background-color:white;
   
  }
  .doctor-image img {
    border-radius: 50rem;
  }
  .wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .wrapper-3 {
    display: flex;
  }
  .view-profile a {
    text-decoration: none;
    font-style: normal;
    color:#3C6BE4;
  }
  .checked_appointment i {
    width: 50%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: green;
  }
  .appointment-booked {
    width: 50%;
    color: #070647;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0 auto;
  }
  .star_span {
      color:#F7DF07;
  }
  .warning {
    width: 80%;
    /* border: 1px solid yellow;*/
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer_appointment {
    width: 80%;
    /* border: 1px solid yellow;*/
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .alice-walton {
    font-size: 20px;
    font-weight: bold;
  }
  .time {
    color: green;
  }
  @media screen and (min-width: 1150px) and (max-width: 1350px) {
    .footer_appointment {
      display: flex;
      font-size: 14px;
      width: 100%;
      justify-content: center;
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 35%;
      height: auto;
      padding: 6rem 3rem;
      border-radius: 30px;
      margin: 0 auto;
      margin-top: 4rem;
    }
  }
  @media screen and (min-width: 950px) and (max-width: 1149px) {
    .wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: auto;
    padding: 6rem 3rem;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 4rem;
    }
    
  }
  @media screen and (max-width: 950px) {
    .logo img {
      position: absolute;
      top: 15px;
      left: 30px;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 40vh;
      padding: 2rem;
      border-radius: 30px;
      margin: 0 auto;
      margin-top: 4rem;
    }
    .wrapper-2 {
      width: 80%;
      display: flex;
      height: 15vh;
      margin: 0 auto;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .wrapper-3 {
      display: flex;
      justify-content: center;
    }
    .doctor-image img {
      border-radius: 50rem;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
    .appointment-booked {
      width: auto;  
      display: flex;
      justify-content: center;
      font-size: 3rem;
      margin: 0 auto;
    }
    .warning {
      width: auto;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .footer_appointment{
      /* display: flex;
      width: auto;
      text-align: center;
      justify-content: space-around;
      margin: 0 auto; */
      width: auto;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

  }
  @media screen and (min-width: 300px) and (max-width: 680px) {
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;
      height: auto;
      padding: 2rem;
      border-radius: 30px;
      margin: 0 auto;
      margin-top: 4rem;
    }
    .wrapper-2 {
      width: 80%;
      display: flex;
      height: 20vh;
      margin: 0 auto;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .appointment-booked {
      width: auto;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      margin: 0 auto;
    }
    .warning {
      width: auto;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .footer_appointment {
      display: flex;
      font-size: 14px;
      width: 100%;
      justify-content: center;
    }
    .booked_appointment {
        padding-top:14%;
        padding-bottom: 6%;
    }
  }
  

  @media screen and (max-width: 280px) {
    .wrapper {
        width:70%;
        height:50vh;
    }
    .booked_appointment {
        padding-top: 14%;
    }
    .appointment-booked {
      width: auto;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      margin: 0 auto;
    }
  }
  


  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 767px){
    .col-xs-1 {width: 8.33%;}
   .col-xs-2 {width: 16.66%;}
   .col-xs-3 {width: 25%;}
   .col-xs-4 {width: 33.33%;}
   .col-xs-5 {width: 41.66%;}
   .col-xs-6 {width: 50%;}
   .col-xs-7 {width: 58.33%;}
   .col-xs-8 {width: 66.66%;}
   .col-xs-9 {width: 75%;}
   .col-xs-10 {width: 83.33%;}
   .col-xs-11 {width: 91.66%;}
   .col-xs-12 {width: 100%;}
   }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col-sm-1 {width: 8.33%;}
   .col-sm-2 {width: 16.66%;}
   .col-sm-3 {width: 25%;}
   .col-sm-4 {width: 33.33%;}
   .col-sm-5 {width: 41.66%;}
   .col-sm-6 {width: 50%;}
   .col-sm-7 {width: 58.33%;}
   .col-sm-8 {width: 66.66%;}
   .col-sm-9 {width: 75%;}
   .col-sm-10 {width: 83.33%;}
   .col-sm-11 {width: 91.66%;}
   .col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .col-md-1 {width: 8.33%;}
   .col-md-2 {width: 16.66%;}
   .col-md-3 {width: 25%;}
   .col-md-4 {width: 33.33%;}
   .col-md-5 {width: 41.66%;}
   .col-md-6 {width: 50%;}
   .col-md-7 {width: 58.33%;}
   .col-md-8 {width: 66.66%;}
   .col-md-9 {width: 75%;}
   .col-md-10 {width: 83.33%;}
   .col-md-11 {width: 91.66%;}
   .col-md-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
   .col-lg-1 {width: 8.33%;}
   .col-lg-2 {width: 16.66%;}
   .col-lg-3 {width: 25%;}
   .col-lg-4 {width: 33.33%;}
   .col-lg-5 {width: 41.66%;}
   .col-lg-6 {width: 50%;}
   .col-lg-7 {width: 58.33%;}
   .col-lg-8 {width: 66.66%;}
   .col-lg-9 {width: 75%;}
   .col-lg-10 {width: 83.33%;}
   .col-lg-11 {width: 91.66%;}
   .col-lg-12 {width: 100%;}
}

body{
    padding: 0px !important;
    margin:0px !important;
}